*.o
*.obj
*.a
*.res
*.exe
*.art
*.dat
*.map
*.smk
*.log
*.grp
*.cfg
*~
/src/version-auto.c

/xcode/*.xcodeproj/*
!/xcode/*.xcodeproj/project.pbxproj
/xcode/build
/Makefile.*user

/build
/whaven
/grpfiles.cache
