*.o
*.obj
*.a
*.res
*.exe
*.art
*.dat
*.map
*.smk
*.log
*.grp
*.cfg
*~
*.dll
/src/version-auto.c
/rsrc/*.c

/xcode/*.xcodeproj/*
!/xcode/*.xcodeproj/project.pbxproj
/xcode/build
/xcode/Signing.xcconfig
/xcode/Version.xcconfig
/Makefile.*user

/build
/whaven
/grpfiles.cache
